
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  z-index: 10; 
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slick-prev {
  left: 18px; 
}

.slick-next {
  right: 18px; 
}


.slick-prev:before,
.slick-next:before {
  font-size:50px;
  color: #0b4aae; 
  opacity: 1; 
}

/* Dots Styles */
.slick-dots {
  bottom:-18px;
}

.slick-dots li button:before {
  color: #ffffff; /* Dot color */
  font-size: 12px;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: #3b82f6; /* Active dot color */
  opacity: 1;
}
